.block-about
  h2.block-about__title Немного обо мне
  p.block-about__text Меня зовут <span itemprop="additionalName">Аделя</span>, я живу в 
    |<span itemprop="address">спб</span>, и этой весной мне минуло 24 года. В прошлом году я успешно окончила университет <span itemprop="alumniOf">(спбгуптд)</span>,
    |а в этом прошла стажировку в компании Semrush <a class="link" href="https://vk.com/video-54407554_456239132">(вау, видео со мной!)</a>. 
  p.block-about__text На стажировке я принимала участие в разработке <a class="link" href="https://www.semrush.com/blog/">блога</a> - поработала в команде, 
    |узнала, как выглядит выход в продакшен, начала писать на реакте и тайпскрипте.
  p.block-about__text Кроме постигания премудростей фронтенда, я играю в компьютерные игры, читаю комиксы и пишу рассказы.