.block-about
  h2.block-about__title Немного обо мне
  p.block-about__text Меня зовут <span itemprop="additionalName">Аделя</span>, я живу в
    |<span itemprop="address">спб</span>, и этой весной мне минуло 23 года. 
  p.block-about__text В этом году я окончила университет <span itemprop="alumniOf">(спбгуптд)</span>, 
    |научившись там немножко верстать, программировать, рисовать, создавать 3д модели и заучивать большое
    |количество информации за рекордное время.
  p.block-about__text Кроме постигания премудростей фронтенда, я  играю в компьютерные игры, читаю комиксы и
    |пишу небольшие рассказыв стол, иногда показывая их друзьям.
  
  