doctype html
html(lang="ru")
  include head.pug
body
  header.header
    .header__button.switch-on
    h1.header__title Страница обо мне
  main.block
    div(itemscope itemtype='https://schema.org/Person').block-image
      img(src="images/avatar.png" alt="картинка со мной" itemprop='image').block-image__image
    include about.pug
    include movies.pug
  script(src="scripts/script.js")