.block-movies
  h2.block-movies__title Любимые фильмы
  ul.block-movies__list
    li(itemscope itemtype="https://schema.org/Movie")
      a.block-movies__list-link(itemprop="name" href="https://www.kinopoisk.ru/film/88212/") Behind the Mask: The Rise of Leslie Vernon</a>
      p.block-movies__list-genre <span itemprop="datePublished">2006</span>; <span itemprop="genre">ужасы, триллер, комедия</span>
    li(itemscope itemtype="https://schema.org/Movie")
      a.block-movies__list-link(itemprop="name" href="https://www.kinopoisk.ru/film/818981/") What We Do in the Shadows
        p.block-movies__list-genre <span itemprop="datePublished">2014</span>; <span itemprop="genre">ужасы, комедия</span>
    li(itemscope itemtype="https://schema.org/Movie")
      a.block-movies__list-link(itemprop="name" href="https://www.kinopoisk.ru/film/64021/") Shaun of the Dead
      p.block-movies__list-genre <span itemprop="datePublished">2004</span>; <span itemprop="genre">ужасы, комедия</span>
    li(itemscope itemtype="https://schema.org/Movie")
      a.block-movies__list-link(itemprop="name" href="https://www.kinopoisk.ru/film/410299/") The World’s End
      p.block-movies__list-genre <span itemprop="datePublished">2013</span>; <span itemprop="genre">комедия, фантастика, боевик</span>
    li(itemscope itemtype="https://schema.org/Movie")
      a.block-movies__list-link(itemprop="name" href="https://www.kinopoisk.ru/film/1178137/") Midsommar
      p.block-movies__list-genre <span itemprop="datePublished">2019</span>; <span itemprop="genre">ужасы, триллер, драма</span>
      li(itemscope="" itemtype="https://schema.org/Movie")
        a.block-movies__list-link(itemprop="name" href="https://www.kinopoisk.ru/film/467293/") Filth
        p.block-movies__list-genre <span itemprop="datePublished">2013</span>; <span itemprop="genre">комедия, драма, криминал</span>
